POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433
POSTGRES_DB=movieticket_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456aA@
JWT_SECRET=ZGV2LXNlY3JldC1rZXktZm9yLWxvY2FsLXRlc3Rpbmctb25seS0xMjM0NTY3ODkw
