
services:
  app:
    build: .
    ports:
      - 8090:8080
    networks:
      - s-network
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456aA@
      POSTGRES_DB: movieticket_db
    ports:
      - 5432:5432
    networks:
      - s-network

networks:
  s-network:
    driver: bridge